<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Harsh's Restro : Order Successfully Placed</title>
    <%- include('partials/HeaderLinks')%>
    <link rel="stylesheet" href="css/Orderstyle.css">
</head>
<body>

    <%- include('partials/Header')%>


<section id="OrderPlaced">

    <div id="OrderPlaced-Text">
        
            <% row.forEach(function(records){ %>
                <h2>Congratulations!!  </h2>
                <h2 class="impoo">Dear , <%= records.CustomerName%></h2>
                <h2>Your Order has been Successfully Placed. <br>
                    It will reach the below mentioned address within 30 minutes.
                </h2>
                <h2 class="impoo" ><%= records.CustomerAddress%></h2>
                <h2>We will contact you on :<h2 class="impoo"><%= records.CustomerContact%></h2></h2>
                <h2>Have a Good Day ahead.</h2>
            <%})%>
           
    </div>
    <img class="divider" src="images/divider.png" alt="">
    <div id="OrderPlaced-btn">
        <h2>Forgot something?
            <br>
            Go Back and Order More!
        </h2>
        <button class="menu-btn-dark">Menu</button>
        <button class="menu-btn-dark">Home</button>
    </div>
    

   

</section>



<!-- FOOTER SECTION  -->


<%- include('partials/Footer') %>

<!-- JAVASCRIPT -->
    
<script>
    const toggleButton = document.getElementsByClassName('navbar-navtoggle')[0];
const navbarLinks = document.getElementsByClassName('navbar-menu-item');

toggleButton.addEventListener("click", () => {
for (let i = 0; i < navbarLinks.length; i++) {
    navbarLinks[i].classList.toggle('active')
}
})
</script>
</body>
</html>